<h2> User Details</h2>



    <div class="card card-header results-block mt-3">
        <table class="col-md-12">
           <tbody>
            <tr>
                    <td><strong>Name: </strong> <%= @user.full_name %></td>
                    <td><strong>Email: </strong> <%= @user.email %></td>
                    <td><% if !current_user.friend_already_followed?(@user) %>
                        <%= link_to 'Add to friends', friendships_path(id: @user.id), class: "btn btn-xs btn-success", method: :post %>
                    <% else %> 
                        <span class="badge bg-secondary">Already following</span>
                    <% end %>
                </td>
            </tr>   
            </tbody>
        </table>
    </div>

    <% if !@tracked_stocks.empty?%>
        <%= render 'stocks/list'%>
    <% else %>
        <p class="lead">This user is not tracking any stocks</p>
    <% end %>
